<!DOCTYPE html>
<html>
  <head>
    <title>Modelo padrão HTML TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="notificações">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </header>
  </div>
    <section>
    <%= yield %>        
    </section>
    <footer><p>Feito no BootCamp</p></footer>
    
  </body>
</html>
